<html>
  <head>
    <title>index of svb project</title>
  </head>
  <body>
    <h1>Come add a House Here</h1>
    <ol>
      <li><a href="/add-house">add house</a></li>
    </ol>
    <h1>Views</h1>
    <ol>
      <li><a href="/all-houses">all houses</a></li>
      <li>
        <form action="/agent-houses" method=POST>
          <label>agent name</label>
          <input name="agent-name" type="text"/>
          <input type="submit" value="houses by this agent's name"/>
        </form>
      </li>
      <li>
        <form action="/boats/sailed-by" method=POST>
          <label>sailor name</label>
          <input name="sailor-name" type="text"/>
          <input type=submit value="boats sailed by"/>
        </form>
      </li>
      <li>
        <form action="/sailors/who-sailed-on-date" method=POST>
          <label>date</label>
          <input name="date", type="text"/>
          <input type=submit value="sailors who sailed on date"/>
        </form>
      </li>
      <li>
        <form action="/sailors/who-sailed-on-boat-of-color" method=POST>
          <label>color</label>
          <input name="color" type="text"/>
          <input type=submit value="sailors who sailed on boat of color"/>
        </form>
      </li>
      <li><a href="/most-popular-houses">most popular houses</a></li>
      <form method=POST>
      </form>
    </ol>
  </body>
</html>
